* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12.5px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  background: #1e1e2e;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #b4befe;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
  color: #cba6f7;
}

#workspaces button.focused {
  color: #1e1e2e;
  background: #cba6f7;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #f38ba8;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #313244;
  color: #cdd6f4;
  border-radius: 20px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#idle_inhibitor,
#backlight,
#placeholder {
  background: #1e1e2e;
  background: #313244;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #181825;
}

#temperature {
  border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
  color: #eba0ac;
}

#backlight {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

#idle_inhibitor {
  border-radius: 10px;
  margin-right: 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: #1e1e2e;
  background: #313244;
  border-radius: 15px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

#clock {
  color: #fab387;
  border-radius: 15px;
  margin-right: 10px;
  padding: 0 15px;
  border-right: 0px;
}

#network {
  color: #f9e2af;
  border-radius: 0px 15px 15px 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 17px;
  margin-right: 10px;
}

#bluetooth {
  color: #89b4fa;
  border-radius: 15px;
  margin-right: 10px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
  padding-left: 17px;
  border-radius: 15px 0px 0px 15px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
}

#battery {
  color: #a6e3a1;
  border-radius: 15px;
  margin-right: 10px;
  padding: 0 15px;
  border-left: 0px;
}
